.VpBank {
    background-image: url('./img/svg/VPbank.svg');
}

.SpbBank {
    background-image: url('./img/svg/moscow_bank.svg');
}

.Prodel {
    background-image: url('./img/svg/prodel.svg');
}

.Seagent {
    background-image: url('./img/svg/seagent.svg');
}

.RusRadioMobile {
    background-image: url('./img/svg/rr.svg');
}

.RusRadio {
    background-image: url('./img/svg/rr_desc.svg');
}

.DfmMobile {
    background-image: url('./img/svg/galantis.svg');
}

.Dfm {
    background-image: url('./img/svg/dfm.svg');
}

.MonteCarlo {
    background-image: url('./img/svg/mc.svg');
}

.MonteCarloSite {
    background-image: url('./img/svg/scachki.svg');
}

.CVZ {
  background-image: url('./img/svg/cvz.svg');
}

.Carryfood {
  background-image: url('./img/svg/carryfood.svg');
}
