.VpBank {
    background-image: url('./img/svg/VPbank.svg');
}

.SpbBank {
    background-image: url('./img/png/moscow_bank.png');
}

.Prodel {
    background-image: url('./img/png/prodel.png');
}

.Seagent {
    background-image: url('./img/png/seagent.png');
}

.RusRadioMobile {
    background-image: url('./img/svg/rr.svg');
}

.RusRadio {
    background-image: url('./img/svg/rr_desc.svg');
}

.DfmMobile {
    background-image: url('./img/png/galantis.png');
}

.Dfm {
    background-image: url('./img/png/dfm.png');
}

.MonteCarlo {
    background-image: url('./img/png/mc.png');
}

.MonteCarloSite {
    background-image: url('./img/png/scachki.png');
}

.CVZ {
  background-image: url('./img/png/cvz.png');
}

.Carryfood {
  background-image: url('./img/png/carryfood.png');
}
