@media screen and (max-device-width: 767px) {
  #clients h1 {
    font-size: 45px;
    line-height: 61px;
    margin-left: 5%;
  }
  .logos_company {
    width: 100%;
    grid-gap: 0;
    height: max-content;
    grid-template-columns: repeat(2, 1fr);
  }
  .logo_company {
    height: 35vw;
  }
  .logo_company img {
    width: 100%;
  }
}
