.ui.modal {
  width: 1067px;
  border-radius: 0;
}

.ui.modal>.content {
  height: 375px;
  background-image: url("./img/modal_back.jpg");
}

.ui.modal>.content p {
  font-family: "CeraPro-Bold";
  font-size: 64px;
  line-height: 61px;
  color: #000000;
}

.ui.modal>.close {
  top: 1.5rem;
  color: #000000;
  right: 2.5rem;
  font-size: 3.25em;
}

.dimmed.dimmable>.ui.animating.dimmer, .dimmed.dimmable>.ui.visible.dimmer, .ui.active.dimmer {
  padding: 0;
}

.modals.dimmer .ui.scrolling.modal {
  margin: 0 auto;
}

.ui.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.ui.form .field {
  width: 283px;
  height: 60px;
  background: #F7F7F7;
}

.ui.form .field:nth-child(2)>label {
  margin-top: -16px;
  font-family: "CeraPro";
  font-size: 10px;
  line-height: 16px;
}

.ui.input input::placeholder {
  font-family: "CeraPro-Bold";
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.ui.form input {
  border: none !important;
  background: none !important;
}

.ui.form .field .ui.input input, .ui.form .fields .field .ui.input input {
  padding-left: 26px;
}

.ui.form .field {
  display: flex;
  align-items: center;
}

.ui.form .field>label {
  margin: 0 0 0 26px;
  position: absolute;
  font-family: "CeraPro-Bold";
  font-size: 16px;
  line-height: 16px;
  color: #000000;

}


.ui.form .required.field>label:after, .ui.form .required.fields.grouped>label:after, .ui.form .required.fields:not(.grouped)>.field>label:after {
  display: none;
}

.ui.button {
  width: 283px;
  height: 60px;
  display: -ms-grid;
  display: grid;
  background: #6450FF;
  color: #ffffff;
  font-size: 16px;
  line-height: 16px;
  border-radius: 0;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "CeraPro-Bold";
}

.ui.button:hover {
  background: #6450FF;
  color: #ffffff;
}

.modal-inside {
  display: grid;
  margin-top: 8%;
  margin-left: 5%;
}
