.ui.modal {
  width: 90%;
  border-radius: 0;
}

.ui.modal>.content {
  background-image: url("./img/modal_back.jpg");
}

.ui.modal>.content p {
  font-family: "CeraPro-Bold";
  font-size: 64px;
  line-height: 61px;
  color: #000000;
}

.ui.modal>.close {
  top: 4.5rem;
  color: #000000;
  right: 5.5rem;
  font-size: 3.25em;
}

.dimmed.dimmable>.ui.animating.dimmer, .dimmed.dimmable>.ui.visible.dimmer, .ui.active.dimmer {
  padding: 0;
}

.modals.dimmer .ui.scrolling.modal {
  margin: 0 auto;
}

.ui.form {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 300px;
  grid-template-areas: "left right" "left right" "left right" "left right";
}

.ui.form .field {
  width: 283px;
  height: 60px;
  background: #F7F7F7;
}

.ui.form .field:nth-child(1) {
  grid-area: left;
}

.ui.form .field:nth-child(2) {
  grid-area: right;
}

.ui.form .field:nth-child(3) {
  grid-area: left;
  margin-top: 72px;
}

.ui.form input {
  border: none !important;
  background: none !important;
}

.ui.button {
  width: 283px;
  height: 60px;
  margin-top: 146px;
  grid-area: left;
  display: -ms-grid;
  display: grid;
  background: #6450FF;
  color: #ffffff;
  font-size: 16px;
  line-height: 16px;
  border-radius: 0;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "CeraPro-Bold";
}

.ui.button:hover {
  background: #6450FF;
  color: #ffffff;
}

.modal-inside {
  display: grid;
  margin-top: 8%;
  margin-left: 10%;
}
