@media screen and (max-device-width: 767px) {
  .content-block {
    width: 100%;
    height: 728px;
    background-image: url("img/png/main_banner_mob.png") !important;
  }
  .content-block .inside-container {
    width: 90%;
    padding: 0;
    padding-top: 37px;
    margin: 0 auto;
  }
  .content-block .inside-container .text h1 {
    font-size: 42px;
    line-height: 36px;
  }
  .content-block .inside-container .text span {
    font-size: 20px;
    line-height: 20px;
  }
  .content-block .inside-container .images-banner {
    display: none;
  }
  .content-block .inside-container .links {
    max-width: 100%;
    margin-top: 80%;
    grid-template-columns: none;
  }
  .content-block .inside-container .links a {
    width: 100% !important;
  }
  .content-block .inside-container .links div {
    width: 100% !important;
  }
}
