@media screen and (max-device-width: 767px) {
  .sidebar {
    width: 80%;
    height: 58px;
    position: inherit;
    margin-top: -38%;
    margin-left: 0;
    justify-self: center;
  }
  .sidebar .side-block {
    height: 100%;
    grid-template-columns: 25% 25% 25%;
  }
}
