.sidebar {
  top: 205px;
  z-index: 10;
  height: 553px;
  display: grid;
  margin-left: 5%;
  position: fixed;
  justify-self: end;
  grid-area: sidebar;
}

.sidebar .communication {
  height: 58px;
  width: 58px;
  display: none;
  align-items: center;
  white-space: nowrap;
  font-family: "CeraPro-Medium";
  font-size: 16px;
  line-height: 36px;
  color: #000000;
  transform: rotate(-90deg);
}

.sidebar .active {
  display: grid;
}

.sidebar .side-block {
  height: 315px;
  display: grid;
  align-items: center;
  justify-content: space-between;
}

.sidebar .side-block a {
  display: grid;
  align-items: center;
  justify-content: center;
}
