.item-content {
  right: 0;
  margin: 0;
  width: 85.5%;
  display: grid;
  grid-gap: 10%;
  margin-left: auto;
  grid-template-rows: 300px 400px;
  grid-template-columns: 250px 785px;
  height: max-content;
}

.product-block {
  display: grid;
  margin-top: 100px;
}

.product-logo {
  width: 195px;
  height: 195px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
}

.product-logo img {
  width: 100%;
}

.info p {
  margin: 0;
  margin-bottom: 5px;
  font-family: "CeraPro-Bold";
  font-size: 28px;
  line-height: 35px;
  color: #000000;
}
.info .text {
  width: 400px;
  margin-top: 35px;
}

.info .text p {
  font-family: "CeraPro";
  font-size: 14px;
  line-height: 18px;
  color: #373737;
}

.concept {
  width: 785px;
  height: 675px;
}

.concept img {
  width: 100%;
}
