@media screen and (max-device-width: 767px) {
  #we_made h1 {
    font-size: 34px;
    line-height: 61px;
    margin-left: 5%;
  }
  .products {
    display: block !important;
    width: 100% !important;
  }
  .products .product {
    height: 384px;
  }
  .slick-dots {
    bottom: -55px !important;
  }
  ul.slick-dots li {
    width: 24px;
    height: 3px;
    background: #4F4F4F;
    list-style-type: none;
    position: initial;
    transition: .3s !important;
  }
  li.slick-active {
    width: 70px !important;
    height: 3px !important;
    background: #FFFFFF !important;
    list-style-type: none !important;
    position: initial !important;
    transition: .3s !important;
  }
  .slick-dots li button:before {
    display: none;
  }
  .slick-track .slick-active {
    width: 90%;
  }
  .product .text p {
    font-size: 24px !important;
    line-height: 30px !important;
  }
  .product .text span {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  .logo_product {
    width: 90px !important;
    height: 90px !important;
    top: unset !important;
    right: unset !important;
    position: relative !important;
    margin-left: 27px !important;
  }
  .submit_your_app {
    display: grid !important;
  }
  .submit_your_app p {
    margin: 0 auto;
  }
}
