.content-inside {
  width: 88%;
  right: 0;
  margin: 0;
  padding: 100px 0 150px;
  margin-left: auto;
}

h1 {
  color: #000000;
  margin-top: 0;
  font-family: 'CeraPro-Bold';
  font-size: 64px;
  line-height: 61px;
}

.products {
  width: 86.3%;
  display: grid;
  margin-top: 45px;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

.product {
  width: 100%;
  height: 25vw;
  cursor: pointer;
  position: relative;
  font-size: 15vw;
  background: #fff;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.product .text {
  max-width: 70%;
  display: grid;
  grid-gap: 11px;
  margin-top: 20px;
  margin-left: 27px;
  justify-content: left;
  text-align: left;
}

.product .text p {
  margin: 0;
  font-size: 9%;
  line-height: normal;
}

.product .text span {
  font-size: 6%;
  line-height: 14px;
}

.product .text img {
  /* width: 100%; */
  height: initial;
}

.logo_product {
  margin-top: 16px;
  margin-right: 16px;
  width: 15%;
  height: 15%;
  position: absolute;
  right: 0;
  display: grid;
  top: 0;
}

.logo_product img {
  width: 100%;
  height: 100%;
}

.submit_your_app {
  cursor: pointer;
  display: grid;
  align-items: center;
  background-color: #6450FF;
}

.submit_your_app p {
  color: #ffffff;
  font-size: 28px;
  line-height: 28px;
}

@import './media.css'
