#main {
  display: grid;
  grid-template-areas:
  "header header"
  "container container"
  "footer footer";
  grid-template-rows: 130px 1fr;
  grid-template-columns: 1fr;
  height: auto !important;
}

a {
  text-decoration: none;
}

header, footer, .sidebar{
  padding: 20px;
}
