@media screen and (max-device-width: 767px) {
  #what_are_we_doing {
    height: max-content;
  }
  #what_are_we_doing h1 {
    font-size: 34px;
    line-height: 61px;
    margin-left: 5%;
  }

  .examples {
    width: 90%;
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
  }

  .examples .example {
    height: 150px;
  }

  .examples .example .text p {
    font-size: 16px;
    line-height: 20px;
  }

  .examples .spetial {
    height: 150px;
    grid-gap: 15px;
  }

  .examples .spetial .text p {
    font-size: 16px;
    line-height: 20px;
  }

  .spetial .special_icon {
    margin-left: 20px;
  }
}
